 {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
 <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{%url 'view-attendance-home' %}">Attendance Dashboard</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
     
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'view-attendance-employee' %}">By Employee</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'view-attendance-date' %}">By Date</a>
      </li>



         <li class="nav-item active" style="padding-left: 1440px">
        <a class="nav-link" href="{% url 'dashboard' %}">Back to Admin Panel</a>
      </li>
  
</ul>
</div>
</nav>




  <div class="card" style="margin-top: 2em; margin-left: 2em; margin-right: 2em; margin-bottom: 2em;">
    <div class="card-body">

 
<h2> Today's statistics</h2>
 	<div class="row" style="margin-left: 12em">
<div class="card" style="width: 20em; background-color: #338044; text-align : center; margin-left: 5em; margin-top: 5em; color: white;">
  <div class="card-body">
    <h5 class="card-title"> <b>Total Number Of Employees</b></h5>

    <p class="card-text" style="padding-top: 1em; font-size: 28px;"> <b>{{total_num_of_emp }}</b></p>
   
  </div>
</div>
<div class="card" style="width: 20em; background-color: #80335b; text-align : center; margin-left: 5em; margin-top: 5em; color: white;">
  <div class="card-body">
    <h5 class="card-title"> <b> Employees present today</b></h5>
    
    <p class="card-text" style="padding-top: 1em; font-size: 28px;"><b> {{emp_present_today }}</b></p>
   
  </div>
</div>

</div>


</div>
</div>
 
</div>
{% if qs %}

<table  class="table" style="margin-top: 5em; ">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        
        <th scope="col" >Employee</th>
        <th scope="col">Present</th>
        <th scope="col">Time in</th>
        <th scope="col">Time out </th>
        <th scope="col">Hours </th>
        <th scope="col"> Break Hours </th>
        <th scope="col"> Action Taken </th>
    </tr>
</thead>
<tbody>
    {% for item in qs %}
    <tr> 
           <td>{{ item.date }}</td>
        <td>{{ item.user.username}}</td>
     {% if item.present %}
        <td> P </td>
        {% else %}
        <td> A </td>
        {% endif %}
        {% if item.time_in %}
        <td>{{ item.time_in }}</td>
       {% else %}
       <td> - </td>
       {% endif %}
         {% if item.time_out %}
        <td>{{ item.time_out }}</td>
       {% else %}
       <td> - </td>
       {% endif %}
           <td> {{item.hours}}</td>
           <td> {{item.break_hours}}</td>
           <td> {{item.action_taken}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>




{% endif %}
{% if messages %}
      {% for message in messages%}
      <div class="alert alert-{{message.tags}}" > {{message}}
      </div>
      {%endfor %}

    {%endif%}

</div>



 




  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 </body>
 </html>

 